global:
  scrape_interval: '{{ getenv "PROM_SCRAPE_INTERVAL" "15s" }}'
  scrape_timeout: '{{ getenv "PROM_SCRAPE_TIMEOUT" "10s" }}'
  evaluation_interval: '{{ getenv "PROM_EVALUATION_INTERVAL" "15s" }}'

scrape_configs:
- job_name: prometheus
  static_configs:
  - targets:
    - '{{ getenv "PROM_SCRAPE_CONFIGS_STATIC_CONFIGS_TARGET" "localhost:9090" }}'
